@import '../../css/block-editor/block-helper';

.mt-guide-overview {
    $self: &;

    &__card-container {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        row-gap: 64px;
    }

    &__title-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
    }

    &__title {
        @include fontSize(32px);
        font-weight: $fw_semibold;
    }

    .mt-button {

        &--primary {

            &::before {
                content: '';
                position: absolute;
                top: -76px;
                left: -270px;
                width: 274px;
                height: 80px;
                background: url("~img/icons/see-all-arrow.svg") !important;
                background-position: center;
                background-size: cover !important;
                background-repeat: no-repeat;
            }
        }
    }

    @include break(tablet) {

        .mt-guide-overview__card-container {
            display: flex !important;
        }

        .mt-guide-overview__title-container {
            margin-bottom: 32px;
        }

        .mt-button {

            &--primary {

                &::before {
                    left: -210px;
                    top: -56px;
                    width: 204px;
                    height: 60px;
                }
            }
        }
    }

    @include break(mobile) {

        .mt-button {

            &--primary {

                &::before {
                    display: none;
                }
            }
        }
    }
}

.mt-guide-card {
    $self: &;
    position: relative;

    &:hover {

        #{$self}__color-circle {
            transition: bottom 700ms, right 700ms, height, 700ms, width 700ms;
            transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            transition-delay: 0ms;
            bottom: -90px;
            right: -90px;
            height: 440px;
            width: 440px;

            @include break (laptop) {
                bottom: -40px;
                right: -40px;
                height: 300px;
                width: 300px;
            }

            @include break (laptop) {
                bottom: -40px;
                right: -40px;
                height: 300px;
                width: 300px;
            }
        }

        #{$self}__image-container {
            transition: max-height 700ms, right 700ms;
            transition-delay: 0ms;
            max-height: 350px;
            right: 12px;

            @include break (laptop) {
                max-height: 280px;
            }
        }

        #{$self}__full-image-container {

            img {

                scale: 1.05;
            }
        }
    }

    &__inner {
        position: relative;
        background-color: $c-card-bg;
        border-radius: 8px;
        padding: 32px;
        height: 360px;
        overflow: hidden;
        margin-bottom: 24px;
    }

    &__text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        z-index: 4;

        h4 {
            @include fontSize(40px);
            font-weight: $fw_semibold;
            max-width: 228px
        }
    }

    &__excerpt {
        @include fontSize(18px);
        font-weight: $fw_regular;
        max-width: 230px;
        color: $c-black;
        letter-spacing: 0.18px;
    }

    &__image-container {
        transition: max-height 700ms, right 700ms;
        position: absolute;
        max-height: 340px;
        height: 100%;
        bottom: 0;
        right: 32px;
        z-index: 2;
    }

    &__full-image-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-position: center;
        overflow: hidden;

        img {
            transition: scale 300ms ease;
        }
    }

    &__info {
        display: flex;
        margin-bottom: 8px;
    }

    &__title {
        @include fontSize(22px);
        font-weight: $fw_bold;
    }

    &__info-item {
        @include fontSize(13px);
        font-weight: $fw_light;
        display: flex;
        align-items: center;
        color: $c-text-secondary;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 3px;
            background-color: $c-black;
            border-radius: 50%;
            margin: 0 8px;
        }

        &:last-of-type {

            &::after {
                display: none;
            }
        }
    }

    &__color-circle {
        transition: bottom 700ms, right 700ms, height, 700ms, width 700ms;
        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        width: 392px;
        height: 392px;
        border-radius: 50%;
        position: absolute;
        bottom: -104px;
        right: -104px;
        z-index: 1;
    }

    &__link {
        position: absolute;
        inset: 0;
        z-index: 6;
    }

    .swiper-wrapper {

        @include breakM(tablet) {
            display: grid;
        }
    }

    &__wrapper {
        position: relative;
        margin-top: 32px;
        max-width: 1440px;
    }

    .swiper {
        overflow: visible;
    }

    .swiper-pagination {
        position: absolute;
        width: 100%;
        margin-top: 10px;
    }

    .swiper-slide {
        height: auto;
    }


    @include break(laptop) {

        .mt-guide-card__inner {
            height: 320px;
        }

        .mt-guide-card__image-container {
            max-height: 260px;
            right: 16px;
        }

        .mt-guide-card__color-circle {
            width: 280px;
            height: 280px;
            bottom: -60px;
            right: -60px;
        }
    }

    @include break(mobile) {

        .mt-guide-card__inner {
            height: 360px;
        }

        .mt-guide-card__image-container {
            max-height: 220px;
            overflow: hidden;
            right: 0;

            img {
                position: relative;
                left: 12px
            }
        }

        .mt-guide-card__text-container {
            height: 260px;

            p {
                max-width: 160px
            }

            h4 {
                @include fontSize(32px);
            }
        }

        .mt-guide-card__color-circle {
            width: 270px;
            height: 270px;
            right: -110px;
            bottom: 120px;
        }

        .mt-guide-card__excerpt {
            @include fontSize(13px);
        }
    }
}