.wp-block-sdf-post-slider-post {
    flex-direction: row !important;
    position: relative;

    &.no-post {
        border: 2px dashed #f1f1f1;
    }

    > div {
        display: flex;
    }

    .mt-post-slider__post.swiper-slide {
        width: 100% !important;

        &.swiper-slide {
            width: 100% !important;
            margin-right: 0 !important;
        }
    }

    &__link {
        display: none;
    }

    .select-post {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        &:after {
            content: '';
            backdrop-filter: blur(4px);
            background-color: rgba(black, .3);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    .select-post-error {
        color: black;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .components-button {
        padding: 0;
        margin: 0;
        height: auto;
        color: black;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        z-index: 2;
    }

    &:not(.is-selected) {
        .select-post {
            display: none !important;
        }
    }
}
