// Primary colors
$c-prim: var(--mt--color--primary);
$c-prim-hover: var(--mt--color--primary--hover);
$c-yellow: var(--mt--color--yellow);
$c-sand: var(--mt--color--sand);

// Title colors
$c-title: var(--mt--color--title);
$c-title-secondary: var(--mt--color--title--secondary);

// Text colors
$c-text: var(--mt--color--text);
$c-text-secondary: var(--mt--color--text--secondary);
$c-text-tertiary: var(--mt--color--text--tertiary);
$c-text-quaternary: var(--mt--color--text--quaternary);

// Background colors
$c-background: var(--mt--color--background);
$c-background-secondary: var(--mt--color--background--secondary);
$c-background-tertiary: var(--mt--color--background--tertiary);
$c-background-quaternary: var(--mt--color--background--quaternary);

$c-box-background: var(--mt--color--box-background);
$c-card-bg: var(--mt--color--card-background);

// Default colors
$c-white: var(--mt--color--white);
$c-white-hover: var(--mt--color--white--hover);
$c-black: var(--mt--color--black);

// Border colors
$c-border: var(--mt--color--border);
$c-border-secondary: var(--mt--color--border--secondary);