@import '../../css/block-editor/block-helper';

.mt-post-archive {
    $self: &;
    position: relative;
    z-index: 3;
    padding-top: 120px;
    padding-bottom: 40px;

    &--is-loading {
        #{$self}__posts {
            opacity: .5;
        }

        #{$self}__content {
            position: relative;
            min-height: 200px;

            &:after {
                content: '';
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 30px;
                height: 30px;
                margin-top: -15px;
                margin-left: -15px;
                border-radius: 50%;
                border: 2px solid #ccc;
                border-top-color: black;
                animation: spinner .6s linear infinite;
            }

            @keyframes spinner {
                to {
                    transform: rotate(360deg);
                }
            }
        }

        #{$self}__results-info {
            opacity: 0;
        }
    }

    &__filter {
        background: $c_white;
    }

    &__filters {
        appearance: none;

        @include break(tablet){
            width: 50%;
        }
    }

    &__filter-box-container {
        margin-left: 24px;
        position: relative;
        height: fit-content;

            &::after {
                content: '';
                background-image: url("img/icons/arrow-down.svg");
                width: 28px;
                height: 28px;
                background-size: 28px 28px;
                background-position: center;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            @include break(tablet) {
                margin-left: 0;
                margin-top: 16px;
                width: calc(50% - 8px);
            }

            @include break(mobile) {
                margin-left: 0;
                margin-top: 16px;
                width: 100%;
            }
    }

    &__search-container {
        width: 100%;
        position: relative;

        &::after {
            content: '';
            background-image: url("img/icons/search.svg");
            width: 22px;
            height: 22px;
            background-size: 22px 22px;
            background-position: center;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__filter-container {
        padding: 24px 0 8px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include break(mobile) {
            padding: 24px 0 16px;
        }

       

        p {
            margin-right: 32px;
            font-weight: 500;
            @include letter-spacing(-24);
            opacity: .6;

            @include break(1050) {
                display: block;
                width: 100%;
            }
        }

        &--inputs {
            display: flex;

            @include break(1050) {
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            input[type=search],
            select {
                width: 100%;
                min-width: 300px;
                background-color: $c_white;
                padding: 20px 16px;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.20);
                @include fontSize(16px);
                font-weight: $fw_regular;
                color: $c-text-secondary;
                padding-right: 24px;
                background-position: center;

                &:not(:first-child) {
                    @include breakM(900) {
                        margin-left: 24px;
                    }
                }

                @include break(1050) {
                    flex-grow: 1;
                    min-width: 0;
                }

                @include break(900) {
                    flex-grow: 0;
                    width: 100%;
                }

                @include break(mobile) {
                    width: 100% !important;
                    margin-left: 0 !important;
                }
            }

            input[type=search] {
                @include break(900) {
                    width: 100%;
                }
            }

            select {
                font-weight: 500;
                @include fontSize(16px);
                font-weight: $fw_regular;
                color: $c-text-secondary;
                width: 100%;

                option {
                    @include fontSize(16px);
                    color: $c-black;
                    padding: 16px;
                }
            }
        }
    }

    &__inner {
        >h2 {
            @include fontSize(48px);
            
            @include break(laptop) {
                @include fontSize(36px);
            }
            @include break(mobile) {
                padding-left: 24px;
                @include fontSize(32px);
            }
        }
    }

    &__results-info {
        padding: 24px 0;
        border-bottom: 1px solid grey;
    }

    &__posts {
        padding: 32px 0;
        gap: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mt-pagination {
        position: relative;
        padding: 0;
        width: fit-content;
        margin: 64px auto 48px;
        padding: 6px;
        border-radius: 80px;

        @include break(mobile) {
            margin: 32px auto;
        }
    }

    @include break(mobile) {

        .mt-post-archive__posts {
            grid-template-columns: 1fr;
        }
    }

    .mt-guide-card {
        $self: &;
        position: relative;
    
        &:hover {
    
            .mt-guide-card__color-circle {
                transition: bottom 400ms, right 400ms, height, 400ms, width 400ms;
                transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
                transition-delay: 0ms;
                bottom: -104px;
                right: -90px;
                height: 360px;
                width: 360px;
    
                @include break (laptop) {
                    bottom: -60px;
                    right: -60px;
                    height: 280px;
                    width: 280px;
                }
    
                @include break (mobile) {
                    width: 270px;
                    height: 270px;
                    right: -70px;
                    bottom: -60px;
                }
            }
    
            .mt-guide-card__image-container {
                transition: max-height 400ms, right 400ms;
                transition-delay: 0ms;
                max-height: 330px;
                right: 6px;
    
                @include break (laptop) {
                    max-height: 280px;
                    right: 6px;
                }
    
                @include break (tablet) {
                    max-height: 260px;
                    right: 16px;
                }

                @include break(mobile) {
                    max-height: 220px;
                    right: 4px;
                    bottom: 35px;
                }
            }
    
            .mt-guide-card__full-image-container {
    
                img {
                    scale: 1.05;
                }
            }
        }
    
        &__inner {
            position: relative;
            background-color: $c-card-bg;
            border-radius: 8px;
            padding: 32px;
            height: 360px;
            overflow: hidden;
        }
    
        &__text-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            z-index: 4;
            gap: 16px;
    
            h4 {
                @include fontSize(28px);
                font-weight: $fw_semibold;
                max-width: 342px
            }
        }
    
        &__image-container {
            transition: max-height 400ms, right 400ms;
            position: absolute;
            max-height: 310px;
            height: 100%;
            bottom: 0;
            right: 12px;
            z-index: 2;
        }
    
        &__full-image-container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-position: center;
            overflow: hidden;
    
            img {
                transition: scale 300ms ease;
            }
        }
    
       
        &__title {
            @include fontSize(22px);
            font-weight: $fw_bold;
        }
    
        &__info {
            display: flex;
            flex-direction: column;
        }
    
        &__info-row {
            display: flex;
        }
    
        &__category-row {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__date {
            text-transform: uppercase;
            @include fontSize(13px);
            font-weight: $fw_semibold;
        }
        
        &__info-item {
            @include fontSize(13px);
            font-weight: $fw_semibold;
        }
    
        &__info-item-container {
            display: flex;
            align-items: center;
    
            &::before {
                content: '';
                display: block;
                height: 3px;
                width: 3px;
                background-color: $c-black;
                border-radius: 50%;
                margin: 0 8px;
            }
    
            &:first-of-type {
    
                &::before {
                    display: none;
                }
            }
        }
    
        &__series {
            color: $c-black;
            @include fontSize(24px);
            max-width: 240px;
            font-family: $font_secondary;
            margin-bottom: 12px;
        }
        
        &__color-circle {
            transition: bottom 400ms, right 400ms, height, 400ms, width 400ms;
            transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            width: 330px;
            height: 330px;
            border-radius: 50%;
            position: absolute;
            bottom: -104px;
            right: -60px;
            z-index: 1;
        }
    
        &__link {
            position: absolute;
            inset: 0;
            z-index: 6;
        }
    
        .swiper-wrapper {
    
            @include breakM(tablet) {
                display: grid;
            }
        }
    
        &__wrapper {
            position: relative;
            margin-top: 32px;
            max-width: 1440px;
        }
    
        .swiper {
            overflow: visible !important;
            position: relative !important;
        }
    
        .swiper-slide {
            height: auto;
        }
    
    
        @include break(laptop) {
    
            .mt-guide-card__inner {
                height: 345px;
            }
    
            .mt-guide-card__image-container {
                max-height: 260px;
                right: 16px;
            }
    
            .mt-guide-card__color-circle {
                width: 280px;
                height: 280px;
                bottom: -60px;
                right: -60px;
            }
    
            .mt-guide-card__info-row {
                flex-direction: column;
            }

            .mt-guide-card__category-row {
                max-width: 220px;
            }
        }
    
        @include break(tablet) {
            max-width: 480px;
        }
    
        @include break(mobile) {
            max-width: 330px;
    
            .mt-guide-card__text-container {
                justify-content: flex-start;
                gap: 24px;
            }
    
            .mt-guide-card__inner {
                height: 345px;
            }
    
            .mt-guide-card__info {
                background-color: #FF9452;
                position: absolute;
                width: 100%;
                padding: 8px 20px;
                left: 0;
                bottom: 0;
                z-index: 4;
            }
    
            .mt-guide-card__series {
                color: #F6EFEA;
                max-width: 400px !important;
                margin-bottom: 0px;
            }
    
            .mt-guide-card__info-item {
                color: #F8CFB1;
    
            }
            
            .mt-guide-card__info-item-container {
                &::before {
                    background-color: #F8CFB1;
                }    
            }
    
            .mt-guide-card__image-container {
                max-height: 220px;
                overflow: hidden;
                right: 4px;
                bottom: 35px;    
    
                img {
                    position: relative;
                }
            }
    
            .mt-guide-card__info-row {
                flex-direction: column;
            }
    
            .mt-guide-card__text-container {
                height: 260px;
    
                p {
                    max-width: 164px
                }
    
                h4 {
                    @include fontSize(20px);
                    max-width: 240px;
                }
            }
    
            .mt-guide-card__color-circle {
                width: 270px;
                height: 270px;
                right: -70px;
                bottom: -60px;
            }
    
            .mt-guide-card__category-flex {
                display: flex;
                flex-direction: column ;
            }
        }
    }
}