.mtSpacing-top-extraSmall {
    padding-top: 64px;
}

.mtSpacing-bottom-extraSmall {
    padding-bottom: 64px;
}

.mtSpacing-top-small {
    padding-top: 80px;

    @include break(mobile) {
        padding-top: 64px;
    }
}

.mtSpacing-bottom-small {
    padding-bottom: 80px;

    @include break(mobile) {
        padding-bottom: 64px;
    }
}

.mtSpacing-top-medium {
    padding-top: 104px;

    @include break(tablet) {
        padding-top: 80px;
    }

    @include break(mobile) {
        padding-top: 56px;
    }
}

.mtSpacing-bottom-medium {
    padding-bottom: 104px;

    @include break(tablet) {
        padding-bottom: 80px;
    }

    @include break(mobile) {
        padding-bottom: 64px;
    }
}

.mtSpacing-top-large {
    padding-top: 120px;

    @include break(laptop) {
        padding-top: 104px;
    }

    @include break(tablet) {
        padding-top: 80px;
    }

    @include break(mobile) {
        padding-top: 64px;
    }
}

.mtSpacing-bottom-large {
    padding-bottom: 120px;

    @include break(laptop) {
        padding-bottom: 104px;
    }

    @include break(tablet) {
        padding-bottom: 80px;
    }

    @include break(mobile) {
        padding-bottom: 64px;
    }
}

.mtSpacing-top-extraLarge {
    padding-top: 152px;

    @include break(laptop) {
        padding-top: 120px;
    }

    @include break(tablet) {
        padding-top: 104px;
    }

    @include break(mobile) {
        padding-top: 80px;
    }
}

.mtSpacing-bottom-extraLarge {
    padding-bottom: 152px;

    @include break(laptop) {
        padding-bottom: 120px;
    }

    @include break(tablet) {
        padding-bottom: 104px;
    }

    @include break(mobile) {
        padding-bottom: 80px;
    }
}
