.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:after {
        content: '';
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: $c-black;
    }
}

.swiper-pagination-bullet-active:after {
    background: $c-black;
}

.swiper-pagination-lock {
    display: none !important;
}


.swiper-pagination {
	width: auto !important;
	left: auto !important;
    margin-top: 32px;
}
.swiper-pagination-bullet {
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #007aff;
}