.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102px;
    height: 32px;
    background: #FFFFFF20;
    backdrop-filter: blur(10px);
    z-index: 20;
    cursor: pointer;
    border-radius: 16px;
    transition: background-image .2s ease, background-color .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-white;
    font-weight: $fw_semibold;
    font-size: 15px;
    padding-left: 18px;
    transition: width, .2s;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: url("~img/icons/play-button.svg");
        background-size: 13px 16px;
        background-position: 11px;
        background-repeat: no-repeat;
        background-color: $c-prim;
    }

    &::after {
        content: '';
        position: absolute;
        left: 16px;
        top: 0;
        height: 32px;
        width: 0%;
        background-color: $c-prim;
        border-radius: 16px;
        z-index: -1;
        transition: width, .2s;
    }

    &:hover {

        &::after {
            width: 100%;
            left: 0;
        }
    }
}